.gridBox-sm {
  width: 10px;
  height: 10px;
}

.gridBox-md {
  width: 15px;
  height: 15px;
}

.gridBox-lg {
  width: 15px;
  height: 15px;
}
.gridBox {
  background-color: #ddd;
  border: 7px gray inset;
}
.gridBox:hover {
   border: 7px gray outset;
}

.hidden {
  display: none;
}

.not-hidden {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.grow{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
div > div.not-hidden:hover {
  opacity:1.0;
  box-shadow:none;
}
.pigScare-0 {
  display: none;
}

.pigScare-1 {
  color: green;
}

.pigScare-2 {
  color: blue;
}

.pigScare-3 {
  color: red;
}

.pigScare-4 {
  color: purple;
}
